# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        Timanator79 actually tried to fly with a potato jetpack.
        Gurakai once built a grand monument out of stairs!
        You don't need a new set of iron armor to get your stuff back after death...
        Manumanu54 can drown without swimming.
        Gurakai's nickname is [Radio Edit].
        Timanator79 is always to blame.
        "What are summoner spells?"
        Gurakai didn't choose bronze, it chose him. #BronzeLife
        If something in this pack isn't balanced or isn't working, blame Gurakai!
        There are 0 mistakes in this pack!
        More Players = More fun! Invite People...
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


